.today {
    font-family: 'Sunflower', sans-serif;
    margin-bottom: 2rem;
    padding-left: 15px;
    padding-right: 15px;
}

.left-bar {
    height: fit-content;
    margin-bottom: 2rem;
    border-left: 1px solid #ececec;
}

.semester {
    font-size: 1rem;
    color: #1a1a1a;
}

.right-view {
    padding: 1rem;
}

.non-selected-right-view {
    width: 100%;
    min-height: 50vh;
    margin: 0;
}

.non-selected-right-view div{
    padding-left: 0;
    padding-right: 0;
}

.course-container, .assignment-container {
    background-color: #fff;
}

.theme-background {
    background-color: #f7f7f7
}

.course-container, .assignment-container {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    min-height: 128px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);

    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
}

.assignment-container {
    min-height: 200px;
}

.dash {
    border-bottom: 1px solid #ececec;
}

.dash-strong {
    border-bottom: 1px solid #dadce0;
}

.detail-box {
    border-bottom: 1px solid #ececec;
    word-wrap: break-word;
}

.word {
    color: rgba(0,0,0,.65);
}

.content-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

.close:hover {
    color: #000;
    text-decoration: none;
}

.fa-ellipsis-h, .tool-box {
    cursor: pointer;
    color: grey;
}

.tool-box {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.tool {
    font-size: 14px;
    margin-right: 1rem;
    cursor: pointer;
    color: grey;
}

.tool-last {
    font-size: 14px;
    margin-right: 0;
    cursor: pointer;
    color: grey;
}

.assignment-edit, .assignment-delete {
    display: none;
}

.assignment-delete:hover {
    color: #e91e63;
}

#select-assignment-complete {
    display: none;
}

.left-bar div li div {
    display: flex;
    justify-content: flex-start;
}

.left-bar div li div p {
    margin-right: 1rem;
}

.course-delete {
    display: none;
    cursor: pointer;
}

.active {
    color: #000;
    font-weight: 600;
}

.course-edit-cancel {
    display: none;
}

.add {
    color: #1a73e8;
}
.edit {
    color: #1a73e8;
}

.complete {
    color: #1a73e8;
}

.delete {
    color: #e91e63;
}

.tool:hover, .delete:hover, .complete:hover, .edit:hover {
    font-weight: 600;
}

.main-description {
    font-size: 1.2rem;
}

.sub-description-conatiner {
    width: 100%;
}

.sub-description {
    font-size: .8rem;
}

.sub-typing, .main-typing {
    line-height: 1.5;
}


/* 768 이상 */
@media (min-width: 768px) {
    .left-bar {
        position: -webkit-sticky;
        position: sticky;
        top: 4rem;
        z-index: 1000;
        background-color: #f7f7f7;
    }
}

/* 767.98 이하 */
@media (max-width: 767.98px) {

}